/* Global Styles */
body {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FF0099;
  font-family: 'Orbitron', sans-serif;
}

header {
  text-align: center;
}

/* Form Styling */
form.form-control {
  border-radius: 0;
  border-style: ridge;
  color: #FF00FF;
  width: 100%;
  height: auto;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background: none;
}

form.form-control h2 {
  color: #FF00FF;
}

form.form-control input {
  background: none;
  color: white;
  font-size: 18px;
}

.form-control input:focus {
  border-color: #FF00FF;
}

div.centerMe {
  width: 100%;
  text-align: center;
}

.form-control button.neonButton {
  background-color: rgba(255,255,255,0.3);
  font-size: 18px;
  border: none;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
}

button.neonButton:active {
  border: 1px solid black;
  transform: translateY(2px);
}

/* List Styling */
input.statusCheck {
  margin-right: 5px;
  color: #FF00FF;
  height: 24px;
  position: relative;
  top: 5px;
}

ul {
  position: relative;
}

li {
  font-size: 24px;
  position: relative;
}

span.deleteX {
  color: #DD0048;
  border-radius: 50%;
  position: absolute;
  right: 0;
  z-index: 10;
  transition: transform 1s ease-in-out;
}

span.deleteX:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}


/* Extra Styling */

span#copySpan {
  text-align: center;
  color: white;
}
